.colors {
    &__body {
        display: flex;
    }
    &__choose {
        display: flex;
    }
    &__color {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 64px;
        width: 40px;
        padding: 2px 3px;
    }
    &__row {
        display: flex;
        margin-top: 2px;
    }
}