.tool {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.000001);

    &:hover {
        background: #e8eff7;
        border: 1px solid #a4cef9;
    }
    &__quickview {
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body {
        
        padding: 4px;
        display: flex;
        align-items: center;
    }
    &__title {
        margin-left: 4px;
    }
}