.tool {
    &:hover {
        background: #e8eff7 !important;
        border: 1px solid #a4cef9;
    }
    &_actived {
        background: #c9e0f7;
        border: 1px solid #62a2e4 !important;   
    }
}
