.double-tool {
    display: inline;
    &__body {
        width: 53px;    
        &:hover .double-tool__quickview {
            background-color: #f5f6f7;
            border: 1px solid #93beea;
        } 
        &:hover .double-tool__button {
            background-color: #f5f6f7;
            border: 1px solid #93beea;
            border-top: none;
        } 
    }
    &__item {
        
    }
    &__quickview {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        &:hover {
            background-color: #e8eff7 !important;
            border: 1px solid #a4cef9 !important;
        }
    }
    &__button {
        position: relative;

        height: 27px;

        text-align: center;


        &:hover {
            background-color: #e8eff7 !important;
            border: 1px solid #a4cef9 !important;
            border-top: none !important;
        }
    }
    &__arrow {
        position: relative;
        top: -3px;
    }
}