.menu {
    &__body {
        padding: 1px;

        border: 1px solid #dcddde;
        border-radius: 1px;
        background: #fbfcfd;
    }
    &__item {
        &:hover {
            background-color: #edf4fc;
            border: 1px solid #a8d2fd;
            border-radius: 1px 1px 0 0;
            & .item__title {
                border-left: 1px solid rgba(255, 255, 255, 0.000001);
            }
        }
        z-index: 100000;
    }
}