.workspace {
<<<<<<< HEAD:files/styles/blocks/workspace/_workspace.scss
<<<<<<< HEAD
    position: relative;

=======
=======
>>>>>>> parent of 0c0afa3... Add: steps + modify drawing:files/blocks/workspace/_workspace.scss
    background: $color-workspace;
>>>>>>> parent of 0c0afa3... Add: steps + modify drawing
    height: 100%;

    background: $color-workspace;

    &__body {
        width: 100%;
        height: 100%;
        margin: 5px;
    }
}