.workspace {
    position: fixed;
    top: 92px;

    width: 100%;
    height: calc(100% - 92px);

    overflow: auto;
    background: $color-workspace;


    &__body {
        padding: 5px;
        padding-bottom: 15px;
    }
}