.canvas {
    position: relative;

    width: 940px;
    height: 540px;

    &__size-slider {
        position: absolute;

        display: flex;
        width: 15px;
        height: 15px;


        &:before {
            content: '';

            width: 5px;
            height: 5px;
            z-index: 101;

            background: #ffffff;
            border: 1px solid #000000;

        }
    }

    &__frame {
        position: absolute;
        top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;

        display: none;

        border: 1px dotted $color-frame;
    }
}

#canvas {
    display: block;
    z-index: 200;

    background: #ffffff;
    box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.1); 

    cursor: crosshair;
}

#canvBottom {
    bottom: -15px;
    left: calc(50% - 10px);

    justify-content: center;

    cursor: s-resize;
}

#canvRight {
    right: -15px;
    top: calc(50% - 10px);

    align-items: center;

    cursor: e-resize;
}

#canvCorner {
    bottom: -15px;
    right: -15px;

    cursor: se-resize;
}