.tools {
    position: relative;

    &__body {
        display: flex;
        padding: 4px 7px;
        height: 90px;

        background-color: #f5f6f7;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
    }
    &__title {
        position: absolute;
        bottom: 2px;
        left: calc(50%);
        transform: translateX(-50%);

        text-align: center;

        width: 100%;

        color: #5a5a5a;
    }
}