.shortcut {
    &__body {
        position: relative;

        height: 100%;
        padding: 4px 2px;
        display: flex;
        flex-direction: column;
        align-items: center;

        border: 1px solid #c4dff9;
        background-color: #eef3f7;

        &:hover {
            background-color: #f9fafa;
    }
    }
    &__title {
        margin-top: 5px;
    }
    &__quickview {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #a0cdfa;
    }
    &__arrow {
        position: absolute;
        top: 55px;
        
    }
}