.tools-group {
    &__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 5px 0 2px;

        border-right: 1px solid #e3e4e5;
    }
    &__name {
        text-align: center;

        color: #5a5a5a;
    }
}